body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--font-color);
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../assets/fonts/plex/sans/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../assets/fonts/mono/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Altium Designer';
	font-style: normal;
	font-weight: 400;
	src: local("Altium Designer"), local("AltiumDesigner"), url("../assets/fonts/pcb/AltiumDesignerStroke-Regular400.woff2") format("woff2");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 400;
	src: local("Chakra Petch"), local("ChakraPetch"), url("../assets/fonts/pcb/ChakraPetch-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Vectrex Regular';
	font-style: normal;
	font-weight: 400;
	src: local("Vectrex Regular"), local("VectrexRegular"), url("../assets/fonts/pcb/vectrex-regular.woff") format("woff");
}

.nav-title {
  font-weight: 500;
  font-size: 24px;
  font-family: 'IBM Plex Mono';
  color: var(--font-color);
}

.button-text {
  font-size: 13px;
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  color: var(--font-color);
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color);
}

.main-title {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Chakra Petch';
  color: var(--font-color);
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  color: var(--font-color);
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  color: var(--font-color);
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--font-color);
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: 'Chakra Petch';
  color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  :root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --button-border: #c3c1f8;
    --heading-color: #818cab;
    color-scheme: light dark;
  }
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */
  :root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: black;
    --bg-color: white;
    --button-border: #141414;
    --heading-color: #818cab;
    color-scheme: light dark;
  }
}

:root {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: black;
  --bg-color: white;
  --button-border: #141414;
  --heading-color: #818cab;
  color-scheme: light dark;
}